  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.surname %></td>
        <td><%= student.group.title %></td>
        <td align = "center"><%= student.group.semester_number %></td>
        <td><%= student.birthday %></td>
        <td><%= student.email %></td>
        <td><%= student.ip_address %></td>
        <td><%= student.supervisor.characheristic %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>