  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.surname %></td>
        <td><%= student.group.title %></td>
        <td align = "center"><%= student.group.semester_number %></td>
        <td><%= student.birthday %></td>
        <td><%= student.email %></td>
        <td><%= student.ip_address %></td>
        <td><%= student.marks.average("value").round(2) %></td>
        <td><%= student.supervisor.characheristic %></td>
        <% student.disciplines.order(:title).distinct.each do |disc| %>
          <td><%= disc.marks.where(student_id: student.id).pluck(:value).to_s.gsub(/[\[\]]/, '') %> </td>
        <% end %>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>