<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Group</th>
      <th>Semester</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>Ip address</th>
      <th>Average mark</th>
      <th>Characheristic</th>
      <% Discipline.all.each do |discipline| %>
        <th><%= discipline.title %></th>
      <% end %>
      <th colspan="3"></th>

    </tr>
  </thead>
  <%= render 'student' %>

</table>
<%= will_paginate @students %>

<br>

<%= link_to 'New Student', new_student_path %>
<%= link_to 'First 10', first_ten_path %>
<%= link_to 'ip address piple', ip_address_path %>


