<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Group</th>
      <th>Semester</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>Ip address</th>
      <th>Characheristic</th>

      <th colspan="3"></th>

    </tr>
  </thead>
  <%= render 'student_light' %>

</table>


<br>

<%= link_to 'Back', students_path %>

