<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @student.surname %>
</p>

<p>
  <strong>Group:</strong>
  <%= @student.group.title %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @student.birthday %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @student.ip_address %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %>
<%= link_to 'Back', students_path %>
<br>
<a>Input parameters for sort users in this semester</a>
<br>
<br>
<input name="To" id="to" placeholder="От" type="text">
<br>
<br>
<input name="from" id="from" placeholder="До" type="text">
<br>
<a href="#" id="button">Press it!</a>

<script type="text/javascript">

$( "#button" ).click(function( event ) {
  event.preventDefault();
  var to    = $("#to").val();
  var from  = $("#from").val();
  var id    = <%= @student.id %>
  var rqst  = $.ajax({
    url: '/average_value',
    type: 'GET',
    data: {to: to, from: from, id: id}
  }).done(function(data){
    console.log(data)
    var sometext = "";
    for (var i = data.students.length - 1; i >= 0; i--) {
              text = "<tr><td>" + data.students[i].name + "</td><td>" + data.students[i].surname + "</td><td>" + data.students[i].birthday + "</td><td>" + data.students[i].email + "</td><td>" + data.students[i].ip_address + "</td><td>" + data.students[i].average + "</td><td>" + data.students[i].semester_number + "</td></tr>";
            sometext += text;
    };
      $("#table").html(sometext);
  });


});
</script>

<table id="table">

</table>